.toolbar{
    /* mat-toolbar__content */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 4px 16px;

position: absolute;
width: 1498px;
height: 108px;
left: 1px;
top: 0px;
}

.welcome{
    /* Welcome */


position: absolute;
width: 150px;
height: 48px;
left: 663px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;

color: #000000;

}
