// .header{
//     /* mat-toolbar__content */


// /* Auto Layout */

// display: flex;
// flex-direction: row;
// align-items: center;
// padding: 4px 16px;

// position: absolute;
// width: 1498px;
// height: 108px;
// left: 1px;
// top: 0px;
// }


.footer{
    /* Copyright by IdeaCodingLab & Theoretical and Mathematical Biology MIT license */


position: absolute;
width: 1076px;
height: 78px;
left: 213px;
top: 992px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #000000;


}