.layout{
    /* user not logged in */

position: relative;
width: 1499px;
height: 1089px;

background: url("../../../assets/images/greek-vase.png");
border: 1px solid #000000;
box-sizing: border-box;
}